[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "air"]
	path = air
	url = https://github.com/soumyaray/air
[submodule "result"]
	path = result
	url = https://github.com/soumyaray/result
